# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
**/.pnp
**.pnp.js

# testing
**/coverage

# next.js
**/.next
**/out/**/*.html
**/out/**/*.json
**/out/**/*.js
**/out/**/*.css

# production
**/build

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.aux
*.gz
*.log
*.out
site/out
main.fdb_latexmk
main.fls
site/public/*
site/public/sitemap-0.xml
site/public/sitemap.xml
cv/main.bbl
cv/main.bcf
cv/main.blg
cv/main.run.xml
cv/main.pdf
