:root {
    --table-border: #ddd;
    --table-header-bg: #eee;
    --embed-bg: #333;
    --emphasis: #0070f3;
    --emphasis-bg: #bbdefb55;
    --btn-text: #fff;
    --divider: #ccc9
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--emphasis);
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}


img {
    max-width: 100%;
    display: block;
}

hr {
    margin: 2rem 0;
    height: 2px;
    border: none;
    background: var(--divider);
}

ul {
    padding-left: 1em;
}

ul li {
    margin-bottom: .25em;
}

summary {
    cursor: pointer
}

strong {
    font-weight: 500
}

table {
    border-collapse: collapse;
    box-sizing: border-box;
    width: 100%;
}

th, td {
    border: 1px solid var(--table-border);
    padding: 0.25em .5em;
    box-sizing: border-box;
    white-space: pre-wrap;
    word-break: break-word;
}

th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table th {
    background: var(--table-header-bg);
    font-weight: 500;
}

.slides {
    background: var(--embed-bg);
    width: 100%;
    position: relative;
    padding-bottom: 85%;
}

.slides.ratio_169 {
    padding-bottom: 66%;
}

.slides iframe {
    background: var(--embed-bg);
    box-sizing: border-box;
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

button, .button {
    background: transparent;
    padding: .35rem .85rem;
    color:  #494949;
    outline: 1px solid  #626262;
    border-radius: 3px;
    line-height: 1;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.9em;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

button:focus, .button:focus,
button:hover, .button:hover, a.button:hover {
    text-decoration: none;
    color: var(--emphasis);
    background-color: #fff;
    outline-color: var(--emphasis);
    box-shadow: 0 0 0 0.35rem rgba(198,198,198,0.25);
}

.button-spacer {
    width: 1em;
    display: inline-block
}

@media only screen and (hover: none) and (pointer: coarse) {
    .slides {
        display: none !important;
    }
}

